<!doctype html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Login plz</title>

    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body>
    <section class="spans"> <span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span><span class="bg"></span><span class="bg"></span><span class="bg"></span><span
            class="bg"></span>
        <div class="signin">
            <div class="content">
                <div class="fixed-user">
                    <span class="material-symbols-outlined">account_circle</span>
                    <p>
                        <%= req.session.user %>
                    </p>
                </div>
                <div class="scisor">
                    <div class="games">
                        <div class="games-input">
                            <input type="text" id="game-text" style="width: 75%; height: 100%;"><input type="button"
                                style="width: 25%; height: 100%;" value="Envoyer le lien du jeu" id="game-send">
                        </div>
                        <div class="game-list">
                            <% for (game in games) { %>
                                <div class="game">
                                    <p class="game-name"><%= games[game].name %></p>
                                    <img src="<%= games[game].icon %>" alt="" class="img">
                                    <a href="<%= games[game].link %>" class="join">REJOINDRE</a>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="vdivider"></div>
                    <div class="chat">
                        <div class="chat-logs">
                            <p class="logged">CHAT CONNECTÉ!</p>
                        </div>
                        <div class="chat-input">
                            <input type="text" id="msg-text" style="width: 75%; height: 100%;"><input type="button"  style="width: 25%; height: 100%;" value="Envoyer" id="msg-send">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io();

    // chat
    const msgText = document.getElementById("msg-text");
    const msgSend = document.getElementById("msg-send");

    msgSend.onclick = () => {
        if (msgText.value.trim() !== "") {
            socket.emit("chat message", msgText.value);
            msgText.value = "";
        }
    }

    msgText.onkeydown = (e) => {
        if (e.key === "Enter") {
            if (msgText.value.trim() !== "") {
                socket.emit("chat message", msgText.value);
                msgText.value = "";
            }
        }
    }

    socket.on("chat message", (msg) => {
        const chatLogs = document.querySelector(".chat-logs");
        const chatLog = document.createElement("p");
        chatLog.classList.add("chatlog");
        chatLog.innerText = msg;
        chatLogs.appendChild(chatLog);
    });

    socket.on("chat admin", (msg) => {
        const chatLogs = document.querySelector(".chat-logs");
        const chatLog = document.createElement("p");
        chatLog.style.color = "red"
        chatLog.classList.add("chatlog");
        chatLog.innerText = msg;
        chatLogs.appendChild(chatLog);
    });

    const gameText = document.getElementById("game-text");
    const gameSend = document.getElementById("game-send");

    gameSend.onclick = () => {
        if (gameText.value.trim() !== "") {
            socket.emit("game link", gameText.value);
            gameText.value = "";
        }
    }

    gameText.onkeydown = (e) => {
        if (e.key === "Enter") {
            if (gameText.value.trim() !== "") {
                socket.emit("game link", gameText.value);
                gameText.value = "";
            }
        }
    }

    socket.on("game link", (msg) => {
        const chatLogs = document.querySelector(".chat-logs");
        const chatLog = document.createElement("p");
        chatLog.style.color = "yellow"
        chatLog.classList.add("chatlog");
        chatLog.innerText = "[NOUVEAU JEU] " + msg["link"];
        chatLogs.appendChild(chatLog);

        const gameList = document.querySelector(".game-list");
        const game = document.createElement("div");
        game.classList.add("game");
        const gameName = document.createElement("p");
        gameName.classList.add("game-name");
        gameName.innerText = msg["name"];
        const img = document.createElement("img");
        img.src = msg["icon"];
        img.alt = "";
        img.classList.add("img");
        const join = document.createElement("a");
        join.href = msg["link"];
        join.classList.add("join");
        join.innerText = "REJOINDRE";
        game.appendChild(gameName);
        game.appendChild(img);
        game.appendChild(join);
        gameList.appendChild(game);

    });

</script>